.Newsletter {
    background-image: url("https://http2.mlstatic.com/posters-afiches-mario-bros-nintendo-impresion-banner-vinil-D_NQ_NP_629489-MLV42459901628_072020-F.jpg");
    background-position: center 0px;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    @media screen and (max-width: 420px) {
        height: 250px;
        display: none;
    }
    h3 {
        color: white;
        margin: 0;
    }
    &:before {
        content: "";
        height: 100%;
        width: 100%;
        background: #000000bf;
        top: 0;
        left: 0;
        position: absolute;
    }
    .content {
        color: white;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1200px;
        @media screen and (max-width: 420px) {
            width: auto;
            flex-direction: column;
            padding: 10px;
        }
        input {}
        .content_fields {
            background-color: #ffffffc4;
            width: 400px;
            padding: 10px 0;
            margin: 0px auto 0;
            border-radius: 5px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            @media screen and (max-width: 420px) {
                flex-direction: column;
            }
            button {
                @media screen and (max-width: 420px) {
                    margin: 10px;
                }
            }
        }
    }
}