section.perfil {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 20px auto 0;
    width: 1080px;
    @media screen and (max-width: 420px) {
        width: auto;
    }
}
