section.perfil {
    margin: 20px auto;
    width: 1200px;
    .content {
        display: flex;
        margin: 20px auto 0;
        width: 1080px;

        @media screen and (max-width: 420px) {
            margin: 20px auto 0;
            flex-direction: column-reverse;
            width: auto;
        }
        .imageAndLevel {
            @media screen and (max-width: 420px) {
                margin: 20px auto 20px;
            }
            label {
                display: block;
                font-size: 14px;
                font-weight: bold;
                margin: 20px auto 30px;
                position: relative;
                text-align: center;
                width: 110px;
                text-transform: uppercase;
                &::before {
                    content: "";
                    height: 1px;
                    width: 10px;
                    background: #152c4469;
                    position: absolute;
                    top: 8px;
                    left: 0;
                }
                &::after {
                    content: "";
                    height: 1px;
                    width: 10px;
                    background: #152c4469;
                    position: absolute;
                    top: 8px;
                    right: 0;
                }
            }
            .coins {
                margin-top: 30px;
            }
        }
        .coin {
            height: 15px;
            width: 15px;
        }
    }
    h3{
        margin: 18px 0 0;
    }
    :global(.UserNotifications) {
        border-radius: initial;
        box-shadow: none;
        height: calc(100% - 80px);
        left: 0;
        margin: 0;
        overflow: initial;
        padding: 0;
        position: relative;
        ol{
            margin: 0;
            padding: 10px 0;
        }
    }
}
