section.perfil {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 20px auto 0;
    width: 1080px;
    @media screen and (max-width: 420px) {
        width: auto;
    }
    .imageAndLevel {
        label {
            display: block;
            font-size: 14px;
            font-weight: bold;
            margin: 20px auto 30px;
            position: relative;
            text-align: center;
            width: 110px;
            text-transform: uppercase;
            &::before {
                content: "";
                height: 1px;
                width: 10px;
                background: #152c4469;
                position: absolute;
                top: 8px;
                left: 0;
            }
            &::after {
                content: "";
                height: 1px;
                width: 10px;
                background: #152c4469;
                position: absolute;
                top: 8px;
                right: 0;
            }
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(365deg)
    }
    0% {
        transform: rotate(0deg)
    }
}