.content {
    margin: 20px auto;
    width: 1200px;
    h2 {
        font-size: 20px;
        margin: 50px auto 20px;
        text-align: center;
        svg {
            cursor: pointer;
            margin-left: 5px;
            position: relative;
            top: 2px;
        }
    }
    ul {
        .wrapper-card {
            // cada item
            box-shadow: 0px 2px 2px #152c4412;
            display: flex;
            font-size: 14px;
            height: 50px;
            justify-content: space-between;
            margin-bottom: 20px;
            padding-bottom: 20px;
            position: relative;
            a>div {}
            >* {
                padding: 0 10px;
                text-align: center;
                width: 100px;
            }
            .actions {
                display: flex;
                float: right;
                width: auto;
                border-right: none;
                >* {
                    height: 40px;
                }
            }
            &.disabled {
                >a>div {
                    opacity: .3;
                }
            }
        }
    }
}