._Medallas{
    // display: none;
    ul{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0;
    }
    li{
        margin: 5px 15px 5px 5px;
        list-style: none;
        &.false{
            > * {
                opacity: .5;
            }
            .content{
                background: grey;
                box-shadow: inset 0 -3px #575757;
            }
        }
        .content{
            position: relative;
            width: 100px;
            color: white;
            text-align: center;
            border-radius: 5px;
            background: #8bb7f0;
            box-shadow: inset 0 -3px #4c8cdf;
            // background: #39c144;
            // box-shadow: inset 0 -3px #1da028;
            padding: 5px 10px 10px;
            font-size: 14px;
            border: 1px solid rgba(45, 39, 29, 0.5);
            line-height: 15px;
            &:before{
                content: ""  
            }
            
            span{
                padding: 5px;
                position: absolute;
                right: -15px;
                top: -15px;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                // box-shadow: inset 0 -3px #5593e4;
                box-shadow: inset 0 -3px #1e19ed;
                background: #4E4AFF;
                text-shadow: 1px 1px 2px #0d0d0d;
                font-weight: bold;
                &:after{
                    content: "";
                    background: white;
                    height: 11px;
                    width: 5px;
                    position: absolute;
                    top: 1px;
                    transform: rotate(-35deg);
                    left: 8px;
                    border-radius: 2px 2px 0 0;
                    opacity: .5;
                }
            }
        }
        .sombra{
            width: 100%;
            height: 12px;
            background: #89898975;
            border-radius: 10px;
            margin-top: -8px;
        }
    }
}