.actions {
    margin-top: 5px;
    text-align: right;
    button {
        @media screen and (max-width: 420px) {
            position: fixed;
            bottom: 0px;
            height: 50px;
            top: initial;
            z-index: 10;
            width: 100%;
            border-radius: 0;
            margin-left: -10px !important;
        }
    }
}

.fechaSalida {
    width: 200px;
    margin: 10px 0;
}

.images_list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li {
        list-style: none;
        width: 45%;
        margin-bottom: 20px;
        input {
            padding: 5px;
        }
    }
}

.content {
    margin: 20px auto;
    @media screen and (min-width: 768px) {
        display: flex;
        width: 1200px;
        >* {
            width: 45%;
        }
    }
}

.errors {
    background: #f9d0d0;
    padding: 10px;
    margin: 0 -10px 10px;
}

.preview-card {
    @media screen and (max-width: 420px) {
        display: none;
    }
}