._modalIngresoInfo {
    position: fixed;
    bottom: 200px;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 420px;
    z-index: 99;
    top: calc((100vh / 2) - 300px);
    .background {
        background: #00000052;
        height: 100%;
        top: 0;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1;
    }
    .Card {
        position: relative;
        z-index: 9;
        padding: 10px 20px 20px;
    }
    .contentCiudad {
        margin: 10px 0;
    }
}
