#view_Club{
    padding: 0 !important;
    overflow: hidden;    
    .content_boton_ingreso{
        
    }
    #view_TopNavBar{
        margin: 20px 0 0px 0;
    }
    header{
        position: relative;
        margin-bottom: 50px;
        .pertenecer{
            margin-right: 20px;
            color: #4d9afa;
        }
        .profileImagen{
            position: absolute;
            bottom: -20px;
            right: 30px;
            border-radius: 50%;
            width: 80px;
            border: 3px solid white;
        }
        .actions{
            margin: -5px 0;
            background: #ffffffe6;
            padding: 10px;
            width: calc(100% - 100px);
            display: flex;
            align-items: center;
            .icon{
                width: 20px;
            }
            a{
                color: #696969;
                font-size: 18px;
                border-right: 1px solid #d3d3d3;
                padding: 0 10px;
                &:last-child{
                    border: none;
                }
            }
        }
    }
    .Card:not(.rodadas){
        margin-bottom: 50px;
        padding: 15px 20px;
    }
    .view_Rodadas .Card{
        margin: 0 0 50px 0;
    }
}