._perfilVisitante{    
    > .Card{
        @media screen and (min-width: 1024px) {
            max-width: 480px;
            margin: 0 auto;
        }
    }
    .logros{
        .content{
            display: flex;
            margin: 20px 0px 10px;
            flex-wrap: wrap;
            justify-content: center;
            .item{
                text-align: center;
                margin: 0 20px 20px;
            }
            .number{
                background: white;
                padding-top: 10px;
                box-shadow: 2px 1px 2px 0 #b0b0b094;
                box-sizing: border-box;
                border-radius: 50%;
                display: inline-block;
                height: 36px;
                width: 36px;
                text-align: center;
                margin-bottom: 10px;
            }
            .number{
                margin-left: 10px;
            }
        }
    }
}