._perfil{
    .contenidoInferior{
        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: center;
        }
    }
    .href_cambiar_ciudad{
        float: right;
    }
    .como_visitante{
        text-align: center;
        display: block;
    }
    #subir_imagen{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 145px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
    .Card{
        padding: 20px 20px;
        position: relative;
        margin-bottom: 50px;
    }
    .actions{
        margin-top: 20px;
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
    @keyframes float {
        0% {
            // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translatey(0px);
        }
        50% {
            // box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
            transform: translatey(-10px);
        }
        100% {
            // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
            transform: translatey(0px);
        }
    }
    #revisiones{
        .revision{
            padding: 10px;
            background: #ecf4ff;
            border-radius: 10px;
            margin-top: 10px;
        }
    }
    .avatar{
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        display: block;
        position: absolute;
        top: -20px;
        right: 20px;
        margin: 0;
        width: 80px;
        height: auto;
        span{
            margin: 5px 5px;
            height: 120px;
            width: 160px;
            background-size: 500px;
            background-image: url(/images/profiles/tipos_moto.jpg);
            background-repeat: no-repeat;
            display: block;
            transform: scale(0.5);
            right: 50px;
            position: relative;
        }
    }
}