#view_Plan{
    header.appBar{
        background-color: #575757;
        position: fixed;
        top: 60px;
    }
    .CardChat{
    }
    .content{
        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: center;
        }
        .Card{
        }
        .title{
            text-align: center;
            padding: 10px;
        }
        .Card.content_destino{
            padding: 0;
            img{
                border-radius: 20px 20px 5px 20px;
            }
        }
        .Destino{
            @media screen and (max-width: 420px) {
                overflow: hidden;
            }
            .MuiBox-root{padding: 0}
            .sup{
                position: relative;
                min-height: 150px;
                img{
                    // margin: -10px -10px;
                    // max-width: calc(100% + 20px);
                    // border-radius: 20px 20px 0 0;
                }
                .aditionalInfo{
                    height: 100%;
                    box-sizing: border-box;
                    background: #00000082;
                    padding-top: 20px;
                    display: flex;
                    text-align: center;
                    margin: 0px auto 0;
                    position: absolute;
                    flex-direction: column;
                    top: 0;
                    border-radius: 20px 20px 5px 20px;
                    top: 0;
                    z-index: 1;
                    transition: .5s ease;
                    right: 0;
                    width: 100%;
                    &.true{
                        right: -450px;
                        opacity: .5;
                        @media screen and (min-width: 1024px) {
                            right: -425px;
                        }
                    }
                    li{
                        list-style: none;
                        padding: 20px 5px 5px 5px;
                        color: white;
                        svg{
                            margin-right: 10px;
                        }
                    }
                }
                .info{
                    display: none;
                    position: absolute;
                    bottom: -6px;
                    right: -10px;
                    color: white;
                    padding: 10px 15px;
                    width: calc(100% + 20px);
                    background: #000000c4;
                    font-size: 12px;
                    box-sizing: border-box;
                    // display: flex;
                    align-items: center;
                    justify-content: space-between;
                    

                    .date{
                        i{
                            margin-right: 10px;
                        }
                    }
                }
            }
            .actions{
                // display: flex;
                // justify-content: space-evenly;
                display: none;
                margin-top: 10px;       
                overflow: hidden;
                text-align: center;
                .caja_usuarios{
                    width: 300px;
                    margin: 10px 0px;
                }         
                button{
                    margin-top: 20px;
                }
            }
            
            .weWereHere{
                font-size: 12px;
                margin: 20px 10px;
                .icon{
                    width: 30px;
                    margin: 5px 10px 0 0;
                }
                .title{
                    width: 100px;
                    display: inline-block;
                }
                .listado{
                    height: 50px;
                    float: right;
                    width: calc(100vw - 200px);
                }
                img{
                    height: 100%;
                    width: auto;
                    float: left;
                    margin-right: 10px;
                }
            }
        }
        #online_users{
            .title{
                margin: 20px;
                color: green;
                font-size: 18px;
            }
            .list{
                width: 300px;
                margin: 10px 80px;
                img{
                    width: 50px;
                    height: 50px;                    
                    &:not(:first-child){
                        margin-left: -20px;
                    }
                }
            }
            #conversation_list{
                margin-top: 10px;
                .message{
                    // &.bounce{
                    //     -webkit-animation: bounce 1.2s ease-out;
                    //     -moz-animation: bounce 800ms ease-out;
                    //     -o-animation: bounce 800ms ease-out;
                    //     animation: bounce 1.2s ease-out;
                    // }
                    &:nth-child(odd){
                        .text{
                            background: #e6e7ec;
                        }
                    }
                }
            }
            #to_write{
                
                .caja_texto{
                    width: calc(100% - 36px);
                    display: inline-block;
                }
                .fa-feather{
                    vertical-align: bottom;
                    color: white;
                    margin: 0;
                    position: relative;
                    top: -5px;
                }
            }
        }
    }
}

@keyframes bounce {
    0% {
      transform:translateY(-100%);
      opacity: 0;
    }
    5% {
        transform:translateY(-100%);
      opacity: 0;
    }
    15% {
        transform:translateY(0);
      padding-bottom: 5px;
    }
    30% {
        transform:translateY(-50%);
    }
    40% {
        transform:translateY(0%);
      padding-bottom: 6px;
    }
    50% {
        transform:translateY(-30%);
    }
    70% {
        transform:translateY(0%);
      padding-bottom: 7px;
    }
    80% {
        transform:translateY(-15%);
    }
    
    100% {
        transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
  }