.Categorias {
    width: calc(100vw - 8px);
    box-shadow: 0px 2px 2px #5252522e;
    position: sticky;
    top: 50px;
    z-index: 2;
    @media screen and (max-width: 420px) {
        width: initial;
        top: -215px;
        position: absolute;
    }
    &.active {
        @media screen and (max-width: 420px) {
            top: 60px;
        }
    }
    .perfil {
        box-shadow: 1px 1px 4px #0a0a0a9e;
        display: inline-flex;
        background: #152c44;
        border-radius: 20px;
        padding: 0 15px 0 10px;
        color: #efefef;
        cursor: pointer;
        font-weight: bold;
        .PreviewUser {
            height: 180px !important;
        }
        &:hover {
            .PreviewUser {
                height: 180px;
            }
        }
        .arrow {
            color: #b3b3b3;
            margin-left: 10px;
            &.actived {
                transform: rotate( 180deg);
            }
        }
        .picture {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            background-size: 40px;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    ul {
        padding: 0;
        display: flex;
        background-color: white;
        justify-content: center;
        margin: 0;
        @media screen and (max-width: 420px) {
            flex-wrap: wrap;
        }
    }
    li {
        padding: 8px 20px;
        cursor: pointer;
        height: 40px;
        list-style: none;
        text-align: center;
        &:hover {
            a {
                // color: #585858;
            }
        }
        a {
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 100%;
            color: initial;
            font-size: 14px;
        }
        img {
            max-width: 50px;
            max-height: 28px;
            margin: 0 10px 0 0;
        }
    }
}