.Categorias {
    background-color: white;
    box-shadow: 0px 2px 2px #5252522e;
    position: sticky;
    top: 50px;
    width: calc(100vw - 8px);
    z-index: 2;
    @media screen and (max-width: 420px) {
        width: initial;
        top: -215px;
        position: absolute;
    }
    &.active {
        @media screen and (max-width: 420px) {
            top: 60px;
        }
    }
    .perfil {
        // background: #152c44;
        border-radius: 20px;
        color: #efefef;
        cursor: pointer;
        display: inline-flex;
        font-weight: bold;
        float: left;
        padding: 0 15px 0 10px;
        &:hover {
            .PreviewUser {
                height: 180px;
            }
        }
        .arrow {
            color: #b3b3b3;
            margin-left: 10px;
            &.actived {
                transform: rotate( 180deg);
            }
        }
        .picture {
            border-radius: 50%;
            height: 35px;
            width: 35px;
            background-size: 40px;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    ul {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        width: 1366px;
        @media screen and (max-width: 420px) {
            flex-wrap: wrap;
        }
    }
    li {
        cursor: pointer;
        flex: 1;
        height: 40px;
        list-style: none;
        padding: 8px 20px;
        position: relative;
        text-align: center;
        &:hover {
            a {}
        }
        a {
            align-items: center;
            cursor: pointer;
            display: flex;
            font-size: 13px;
            font-weight: bold;
            height: 100%;
        }
        img {
            max-width: 50px;
            max-height: 28px;
            margin: 0 10px 0 0;
        }
        &.crear-publicacion {
            padding-right: 0;
            a {
                background-image: linear-gradient( 133deg, #ff9e98, #ff4c3f);
                border-radius: 20px;
                color: white;
                justify-content: center;
            }
        }
    }
}