button.btn {
    position: relative;
    padding: 0px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    // font-weight: bold;
    color: white;
    z-index: 1;
    transition: 0.3s ease;
    top: 0;
    outline: none;
    /*&.small{
        font-size: 15px;
    }*/
    &.yellow {
        background: #ff9b51; /*
        box-shadow: inset 0 -3px #cc9211;
        text-shadow: 2px 2px #946808;
        -webkit-text-stroke: 0.5px #946808;
        &:hover{
            background-color: #ffbd29;
        }*/
    }
    &.blue {
        background: #4d9afa;
        // box-shadow: inset 0 -3px #207ac3;
        // text-shadow: 2px 2px #207ac3;
        // -webkit-text-stroke: 0.5px #207ac3;
        // letter-spacing: .5px;
    }
    &.red {
        background: #f05f70;
    }
    &.green {
        background: #53c060;
        // box-shadow: inset 0 -3px #1da028;
        // text-shadow: 2px 2px #1da028;
        // -webkit-text-stroke: 0.5px #39c144;
    }
    &.disabled {
        background: #8a8a8a;
        box-shadow: inset 0 -3px #535353;
        text-shadow: 2px 2px #535353;
        -webkit-text-stroke: 0.5px #8a8a8a;
    }
    &.remove {
        display: none;
    }
    &:hover {
        background-color: #4d9afa;
    }
    // &:focus{
    //     box-shadow: inset 0 0 #207ac3;
    // }
    .text {
        position: relative;
        z-index: 2;
        margin: 8px 15px;
        text-transform: initial;
    }
}
