#view_BottomNavBar {    
    bottom: 0;
    box-shadow: 0px -1px 2px 0 #1e1e1e7d;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 11;
    height: 58px;
    background: #e5e5e5;
    align-items: center;
    @media screen and (min-width: 1024px) {
        display: none;
        box-shadow: none;
        right: 0;
        height: 58px;
        top: 0;
        z-index: 2;
        border-radius: 20px;
        width: 320px;
        overflow: hidden;
        background: none;
        margin-right: 30px;
        justify-content: flex-end;
    }
    &.scroll{
        span:not(.MuiBadge-root){
            height: 0px;
            width: 0px;
            opacity: 0;
        }
        svg{
            width: 15px;
            height: 15px;
            background: #00000040;
            border-radius: 50%;
            padding: 10px;
        }
    }
    .pais{
        width: 30px;
        vertical-align: middle;
        margin-right: 10px;
        @media screen and (max-width: 420px) {
            display: none;
        }
    }
    button {
        border: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        border-radius: 0;
        color: #696969;
        height: 60px;
        position: relative;
        width: calc(100% / 4);
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        background: none;
        @media screen and (min-width: 1024px) {
            color: white;
            width: auto;
            padding: 10px 10px 0;
        }
        &.active {
            color: #4d9afa;
            span{
                // display: block;
            }
            img{
                top: -15px;
            }
        }
        img {
            width: 30px;
            height: 30px;
            position: relative;
            transition: .5s ease;
            right: 0px;
        }

        span:not(.MuiBadge-root){
            font-size: 16px;
            transition: .5s ease;
            bottom: 4px;
            padding: 5px;
            transition: .5s ease;
            @media screen and (min-width: 1024px) {
                font-size: 16px;
            }
        }

        .notify {
            color: white;
            top: -12px;
            position: absolute;
            right: 10px;
            background: #556080;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;            
        }
    }

    .parpadeo {
        color: #4d9afa;
        animation: parpadeo 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    }

    @keyframes parpadeo {
        from { opacity: 1; }
        to { opacity: 0; }
    }
}