.Notificacion{
    margin: 20px auto;
    width: 400px;
    background: linear-gradient(90deg, rgb(66 71 72) 0%, rgba(36,41,46,1) 100%);
    border-radius: 20px 10px 20px 10px;
    padding: 10px 15px;
    color: white;
    font-size: 14px;
    box-shadow: 2px 2px 2px #cccccc;
    position: relative;
    transition: .5s ease;
    &:hover{
        transform: scale(1.1) rotate(1deg);
    }
    .close{
        text-align: right;
        margin: 10px 0 0;
        font-weight: bold;
        cursor: pointer;
    }
}