#view_Clubs{
    .buscador{
        margin: 0 50px;
    }
    .listado{
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        justify-content: center;
        .item{
            padding: 5px;
            box-shadow: 0 2px 2px 0 #ababab;
            background: white;
            margin: 10px;
            border-radius: 10px;
            .contentBoton{
                text-align: center;
                margin: 10px 0;
            }
            h2{
                font-size: 12px;
                width: 100%;
                text-align: center;
                margin: 0 0 5px;
                white-space: nowrap;
            }
            img{
                width: 70px;
                border-radius: 10px;
                margin: 0 auto 10px;
                display: block;
            }
            .ultima_actividad, .miembros, .seguidores{
                width: 150px;
                font-size: 12px;
                margin: 2px auto;
                text-align: center;
                display: block;
            }
        }
    }
}