.subcategories {
    @media screen and (max-width: 420px) {
        overflow: scroll;
        margin: 0 0 10px;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        text-align: center;
        @media screen and (max-width: 420px) {
            width: max-content;
        }
        a {
            background-repeat: no-repeat;
            margin: 0 20px;
            @media screen and (max-width: 420px) {
                width: 120px;
            }
            h3 {
                color: #656565;
                font-weight: normal;
                font-size: 14px;
            }
        }
    }
}