ul.subcategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    text-align: center;
    a {
        background-repeat: no-repeat;
        margin: 0 20px;
        padding-bottom: 30px;
        @media screen and (max-width: 420px) {
            width: 120px;
        }
        h3{
            color: white;
            font-weight: bold;
            text-shadow: 2px 2px 2px #24292e;
            font-size: 14px;
            margin-top: 0;
        }
        img {
            height: 50px;
            margin-bottom: 0px;
        }
    }
}